---
name: Functional tests

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
  schedule:
    - cron: "0 0 * * 1"

defaults:
  run:
    shell: sh

jobs:
  github-token:
    name: Get GitHub token
    timeout-minutes: 3
    runs-on: ubuntu-latest
    outputs:
      value: ${{ steps.encrypt-token.outputs.value }}
    steps:
      - name: Generate
        uses: actions/create-github-app-token@v1
        id: generate-app-token
        with:
          app-id: ${{ vars.APP_ID_READONLY }}
          private-key: ${{ secrets.APP_PRIVATE_KEY_READONLY }}
      - name: Encrypt token
        id: encrypt-token
        run: |
          token=$(echo "${{ steps.generate-app-token.outputs.token }}" | openssl aes-256-cbc -a -salt -pass "${{ secrets.PASSPHRASE }}" | base64 -e)
          echo "value=$token" >> $GITHUB_OUTPUT
  convert:
    name: Convert
    timeout-minutes: 5
    needs: [github-token]
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu", "windows", "macos"]
        from: ["yaml", "json", "xml", "props"]
        to: ["yaml", "json", "xml", "props"]
    runs-on: ${{ matrix.os }}-latest
    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v4
      - name: Prepare
        run: |
          # yaml
          echo 's:' > expected.yaml
          echo '  v: "1"' >> expected.yaml
          echo '  m:' >> expected.yaml
          echo '    - t1' >> expected.yaml
          echo '    - t2' >> expected.yaml
          # json
          echo '{' > expected.json
          echo '  "s": {' >> expected.json
          echo '    "v": "1",' >> expected.json
          echo '    "m": [' >> expected.json
          echo '      "t1",' >> expected.json
          echo '      "t2"' >> expected.json
          echo '    ]' >> expected.json
          echo '  }' >> expected.json
          echo '}' >> expected.json
          # xml
          echo '<s>' > expected.xml
          echo '  <v>1</v>' >> expected.xml
          echo '  <m>t1</m>' >> expected.xml
          echo '  <m>t2</m>' >> expected.xml
          echo '</s>' >> expected.xml
          # props
          echo 's.v = 1' > expected.props
          echo 's.m.0 = t1' >> expected.props
          echo 's.m.1 = t2' >> expected.props
      - name: Decrypt token
        id: decrypt-token
        run: |
          token=$(echo "${{ needs.github-token.outputs.value }}" | base64 -d | openssl aes-256-cbc -d -a -pass "${{ secrets.PASSPHRASE }}")
          echo "::add-mask::$token"
          echo "value=$token" >> $GITHUB_OUTPUT
      - name: Convert
        uses: ./
        id: convert
        with:
          input: expected.${{ matrix.from }}
          from: ${{ matrix.from }}
          to: ${{ matrix.to }}
          token: ${{ steps.decrypt-token.outputs.value }}
      - name: Save result
        run: echo '${{ steps.convert.outputs.output }}' > actual.${{ matrix.to }}
      - name: Print actual file
        run: cat actual.${{ matrix.to }}
      - name: Validate
        run: cmp -s "expected.${{ matrix.to }}" "actual.${{ matrix.to }}" || diff "expected.${{ matrix.to }}" "actual.${{ matrix.to }}"
      - name: Clean up
        if: ${{ always() }}
        run: |
          rm -f expected.{json,props,xml,yaml}
          rm -f actual.${{ matrix.to }}
  convert-container:
    name: Convert
    timeout-minutes: 5
    needs: [github-token]
    strategy:
      fail-fast: false
      matrix:
        image: ["alpine", "centos"]
        from: ["yaml", "json", "xml", "props"]
        to: ["yaml", "json", "xml", "props"]
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.image }}:latest
    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v4
      - name: Prepare
        run: |
          # yaml
          echo 's:' > expected.yaml
          echo '  v: "1"' >> expected.yaml
          echo '  m:' >> expected.yaml
          echo '    - t1' >> expected.yaml
          echo '    - t2' >> expected.yaml
          # json
          echo '{' > expected.json
          echo '  "s": {' >> expected.json
          echo '    "v": "1",' >> expected.json
          echo '    "m": [' >> expected.json
          echo '      "t1",' >> expected.json
          echo '      "t2"' >> expected.json
          echo '    ]' >> expected.json
          echo '  }' >> expected.json
          echo '}' >> expected.json
          # xml
          echo '<s>' > expected.xml
          echo '  <v>1</v>' >> expected.xml
          echo '  <m>t1</m>' >> expected.xml
          echo '  <m>t2</m>' >> expected.xml
          echo '</s>' >> expected.xml
          # props
          echo 's.v = 1' > expected.props
          echo 's.m.0 = t1' >> expected.props
          echo 's.m.1 = t2' >> expected.props
      - name: Decrypt token
        id: decrypt-token
        run: |
          token=$(gpg --decrypt --quiet --batch --passphrase "${{ secrets.PASSPHRASE }}" --output - <(echo "${{ needs.github-token.outputs.value }}" | base64 -d))
          echo "::add-mask::$token"
          echo "value=$token" >> $GITHUB_OUTPUT
      - name: Convert
        uses: ./
        id: convert
        with:
          input: expected.${{ matrix.from }}
          from: ${{ matrix.from }}
          to: ${{ matrix.to }}
          token: ${{ steps.decrypt-token.outputs.value }}
      - name: Save result
        run: echo '${{ steps.convert.outputs.output }}' > actual.${{ matrix.to }}
      - name: Print actual file
        run: cat actual.${{ matrix.to }}
      - name: Install dependencies
        if: ${{ matrix.image == 'centos' }}
        run: |
          sed -i 's/mirrorlist/#mirrorlist/g' /etc/yum.repos.d/CentOS-Linux-*
          sed -i 's|#baseurl=http://mirror.centos.org|baseurl=http://vault.centos.org|g' /etc/yum.repos.d/CentOS-Linux-*
          yum update -y
          yum install diffutils
      - name: Validate
        run: cmp -s "expected.${{ matrix.to }}" "actual.${{ matrix.to }}" || diff "expected.${{ matrix.to }}" "actual.${{ matrix.to }}"
      - name: Clean up
        if: ${{ always() }}
        run: |
          rm -f expected.{json,props,xml,yaml}
          rm -f actual.${{ matrix.to }}
