---
name: Functional Tests

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - main
  pull_request:
    paths:
      - .github/workflows/functional-tests.yml
      - src/**
      - tests/**
      - action.yml
  schedule:
    # Every Friday at 09:00 JST
    - cron: "0 0 * * 5"
  workflow_dispatch: {}

defaults:
  run:
    shell: sh

jobs:
  convert:
    name: Convert (${{ matrix.os }})
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu", "windows", "macos"]
    runs-on: ${{ matrix.os }}-latest
    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v6
      - name: yaml to yaml
        uses: ./.github/actions/convert
        with:
          from: "yaml"
          to: "yaml"
      - name: yaml to json
        uses: ./.github/actions/convert
        with:
          from: "yaml"
          to: "json"
      - name: yaml to xml
        uses: ./.github/actions/convert
        with:
          from: "yaml"
          to: "xml"
      - name: yaml to props
        uses: ./.github/actions/convert
        with:
          from: "yaml"
          to: "props"
      - name: yaml to lua
        uses: ./.github/actions/convert
        with:
          from: "yaml"
          to: "lua"
      - name: json to yaml
        uses: ./.github/actions/convert
        with:
          from: "json"
          to: "yaml"
      - name: json to json
        uses: ./.github/actions/convert
        with:
          from: "json"
          to: "json"
      - name: json to xml
        uses: ./.github/actions/convert
        with:
          from: "json"
          to: "xml"
      - name: json to props
        uses: ./.github/actions/convert
        with:
          from: "json"
          to: "props"
      - name: json to lua
        uses: ./.github/actions/convert
        with:
          from: "json"
          to: "lua"
      - name: xml to yaml
        uses: ./.github/actions/convert
        with:
          from: "xml"
          to: "yaml"
      - name: xml to json
        uses: ./.github/actions/convert
        with:
          from: "xml"
          to: "json"
      - name: xml to xml
        uses: ./.github/actions/convert
        with:
          from: "xml"
          to: "xml"
      - name: xml to props
        uses: ./.github/actions/convert
        with:
          from: "xml"
          to: "props"
      - name: xml to lua
        uses: ./.github/actions/convert
        with:
          from: "xml"
          to: "lua"
      - name: props to yaml
        uses: ./.github/actions/convert
        with:
          from: "props"
          to: "yaml"
      - name: props to json
        uses: ./.github/actions/convert
        with:
          from: "props"
          to: "json"
      - name: props to xml
        uses: ./.github/actions/convert
        with:
          from: "props"
          to: "xml"
      - name: props to props
        uses: ./.github/actions/convert
        with:
          from: "props"
          to: "props"
      - name: props to lua
        uses: ./.github/actions/convert
        with:
          from: "props"
          to: "lua"
      - name: lua to yaml
        uses: ./.github/actions/convert
        with:
          from: "lua"
          to: "yaml"
      - name: lua to json
        uses: ./.github/actions/convert
        with:
          from: "lua"
          to: "json"
      - name: lua to xml
        uses: ./.github/actions/convert
        with:
          from: "lua"
          to: "xml"
      - name: lua to props
        uses: ./.github/actions/convert
        with:
          from: "lua"
          to: "props"
      - name: lua to lua
        uses: ./.github/actions/convert
        with:
          from: "lua"
          to: "lua"
  convert-container:
    name: Convert (${{ matrix.name }})
    runs-on: ubuntu-latest
    timeout-minutes: 5
    container:
      image: ${{ matrix.image }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: alpine
            image: alpine:3.22
            setup-command: apk add bash
          - name: rockylinux
            image: rockylinux/rockylinux:10
            setup-command: dnf install -y tar diffutils
    steps:
      - name: Setup
        if: ${{ matrix.setup-command != '' }}
        run: ${{ matrix.setup-command }}
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v6
      - name: yaml to yaml
        uses: ./.github/actions/convert
        with:
          from: "yaml"
          to: "yaml"
      - name: yaml to json
        uses: ./.github/actions/convert
        with:
          from: "yaml"
          to: "json"
      - name: yaml to xml
        uses: ./.github/actions/convert
        with:
          from: "yaml"
          to: "xml"
      - name: yaml to props
        uses: ./.github/actions/convert
        with:
          from: "yaml"
          to: "props"
      - name: yaml to lua
        uses: ./.github/actions/convert
        with:
          from: "yaml"
          to: "lua"
      - name: json to yaml
        uses: ./.github/actions/convert
        with:
          from: "json"
          to: "yaml"
      - name: json to json
        uses: ./.github/actions/convert
        with:
          from: "json"
          to: "json"
      - name: json to xml
        uses: ./.github/actions/convert
        with:
          from: "json"
          to: "xml"
      - name: json to props
        uses: ./.github/actions/convert
        with:
          from: "json"
          to: "props"
      - name: json to lua
        uses: ./.github/actions/convert
        with:
          from: "json"
          to: "lua"
      - name: xml to yaml
        uses: ./.github/actions/convert
        with:
          from: "xml"
          to: "yaml"
      - name: xml to json
        uses: ./.github/actions/convert
        with:
          from: "xml"
          to: "json"
      - name: xml to xml
        uses: ./.github/actions/convert
        with:
          from: "xml"
          to: "xml"
      - name: xml to props
        uses: ./.github/actions/convert
        with:
          from: "xml"
          to: "props"
      - name: xml to lua
        uses: ./.github/actions/convert
        with:
          from: "xml"
          to: "lua"
      - name: props to yaml
        uses: ./.github/actions/convert
        with:
          from: "props"
          to: "yaml"
      - name: props to json
        uses: ./.github/actions/convert
        with:
          from: "props"
          to: "json"
      - name: props to xml
        uses: ./.github/actions/convert
        with:
          from: "props"
          to: "xml"
      - name: props to props
        uses: ./.github/actions/convert
        with:
          from: "props"
          to: "props"
      - name: props to lua
        uses: ./.github/actions/convert
        with:
          from: "props"
          to: "lua"
      - name: lua to yaml
        uses: ./.github/actions/convert
        with:
          from: "lua"
          to: "yaml"
      - name: lua to json
        uses: ./.github/actions/convert
        with:
          from: "lua"
          to: "json"
      - name: lua to xml
        uses: ./.github/actions/convert
        with:
          from: "lua"
          to: "xml"
      - name: lua to props
        uses: ./.github/actions/convert
        with:
          from: "lua"
          to: "props"
      - name: lua to lua
        uses: ./.github/actions/convert
        with:
          from: "lua"
          to: "lua"
