---
name: Functional Tests

on:
  push:
    branches:
      - 'dependabot/**'
      - 'feature-**'
      - 'fix-**'
      - 'main'

jobs:
  positive_tests:
    name: Positive tests
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
#        os: ['ubuntu-latest', 'windows-latest', 'macos-latest']
#        from: ['yaml', 'json', 'xml']
#        to: ['yaml', 'json', 'xml']
        os: ['macos-latest']
#        os: ['ubuntu-latest', 'windows-latest']
        from: ['yaml']
        to: ['json', 'xml']
#        exclude:
#          - from: 'yaml'
#            to: 'yaml'
#          - from: 'json'
#            to: 'json'
#          - from: 'xml'
#            to: 'xml'
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Prepare
        run: |
          echo "s:" > expected.yaml
          echo "  v: 1" >> expected.yaml
          echo "  m:" >> expected.yaml
          echo "    - t1" >> expected.yaml
          echo "    - t2" >> expected.yaml
          echo '{' > expected.json
          echo '  "s": {' >> expected.json
          echo '    "v": 1,' >> expected.json
          echo '    "m": [' >> expected.json
          echo '      "t1",' >> expected.json
          echo '      "t2"' >> expected.json
          echo '    ]' >> expected.json
          echo '  }' >> expected.json
          echo '}' >> expected.json
          echo "<s>" > expected.xml
          echo "  <v>1</v>" >> expected.xml
          echo "  <m>t1</m>" >> expected.xml
          echo "  <m>t2</m>" >> expected.xml
          echo "</s>" >> expected.xml
        shell: bash
      - name: Convert
        uses: ./
        id: convert
        with:
          input: expected.${{ matrix.from }}
          from: ${{ matrix.from }}
          to: ${{ matrix.to }}
      - name: Save result
        run: |
          content='${{ steps.convert.outputs.output }}'
          echo $content
          echo $content > actual.${{ matrix.to }}
        shell: bash
      - name: Print actual file
        run: cat actual.${{ matrix.to }}
        shell: bash
      - name: Validate
        run: cmp -s "expected.${{ matrix.to }}" "actual.${{ matrix.to }}" || diff "expected.${{ matrix.to }}" "actual.${{ matrix.to }}"
        shell: bash
      - name: Clean
        run: |
          rm -f expected.yaml
          rm -f expected.json
          rm -f expected.xml
          rm -f actual.${{ matrix.to }}
        shell: bash
